.button{
    border: none;
    width: 140px;
    padding: 20px 0;
}

.primary__button{
    background-color: $main_element_bg;
}

.secondary__button{
    background-color: $second_element_bg_color;
    color: $general_text_color;
}

.third__button{
    background-color: #1f1e38;
    color:$general_text_color;
}