*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: $main_bg_color;
}

h1, h2{
    color: $main_title_color;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
}

.over__section{
    @include background_element;
    background-size: 68%;
    background-position-x: 180%;
    background-position-y: -100%;
}

.over__section__2{
    @include background_element;
    background-size: 60%;
    background-position-x: -40%;
    background-position-y: 190%;
}

header{
    nav{
        ul{
            li{
                margin-left: 15px;
                border-top: 4px solid transparent;
                padding-top: 20px;
                a{
                    text-transform: uppercase;
                    color:$par_color;
                }
    
                &:hover{
                    border-top: 4px solid white;
                }
                &:hover a{
                    color:white;
                    
                }
            }
        }
    }
}

footer{
    nav{
        ul{
            li{
                margin-left: 15px;
                a{
                    text-transform: uppercase;
                    color:$par_color;
                }
                &:hover a{
                    color:white;
                    
                }
            }
        }
    }
}




