*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: $main_bg_color;
}

h1, h2{
    color: $main_title_color;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
}

.over__section{
    @include background_element;
    background-size: 68%;
    background-position-x: 180%;
    background-position-y: -100%;
}

.over__section__2{
    @include background_element;
    background-size: 60%;
    background-position-x: -40%;
    background-position-y: 190%;
}






