footer{
    background-color: $main_bg_color;

    .container{
        width: $container_big;
        margin: auto;
        overflow-x: hidden;

        .top__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0;

            ul{
                li{
                    margin-left: 15px;
                    
                    a{
                        color: white;
                    }
                }
            }
        }

        .bottom__footer{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 30px;

            .privacy::before{
                content: "";
                display: block;
                height: 2px;
                width: 900%;
                background-color: $par_color;
                margin-bottom: 30px;
                

                a{
                    color: $par_color;
                }
            }

            a{
                color: $par_color;
            }
        }

    }

    .to__start__and__chat{
        position: fixed;
        bottom: 20px;
        right: 2%;
        display: flex;
        align-items: center;

        .start{
            margin-right: 10px;

            a{
                i{
                    width: 40px;
                    height: 40px;   
                    background-color: white;
                    text-align: center;
                    line-height: 40px;
                    font-size: 20px;
                    border: 0.5px solid black;
                    border-radius: 50%;
                }
            }
        }

        .chat{

            i{
                width: 70px;
                height: 70px;   
                background-color: #527ceb;
                text-align: center;
                line-height: 70px;
                font-size: 30px;
                border-radius: 50%;
            }
        }
    }
}