

header{
    
    background-color: $main_bg_color;

    .container{
        width: $container_big;
        margin: auto;
    }
    .logo{

        img{
            height: 40px;
        }
    }

    p{
        display: flex;
        align-items: center;
        color: white;


        &::before{
            @include line_style_element;
            margin-right: 10px;
        }
    }
    
}
