
header{
    position: relative;
    height: 800px;
    background-image: url("../images/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 100%;
    background-color: $main_bg_color;

    .container{
        width: $container_big;
        margin: auto;
    }
    .logo{

        img{
            height: 40px;
        }
    }

    .hero{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;

        p{
            display: flex;
            align-items: center;
            color: white;
    
    
            &::before{
                @include line_style_element;
                margin-right: 10px;
            }
        }

        .play__and__button{
            display: flex;
            align-items: center;


            .play{
                border: 1px solid white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                margin-left: 20px;
                color: $main_element_bg;

                i{
                    line-height: 50px;
                }
            }
        }


    }

   
    
}
