#project{
    
    // background-color: $main_bg_color;
    padding-top: 300px;

    .title__container{
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: $container_big;
            margin: auto;

            h2{
                width: 80%;
            }

            p{
                display: flex;
                align-items: center;
                color: $general_text_color;

                &::before{
                    @include line_style_element;
                    margin-right: 15px;
                }
            }

            .carusel__arrow{
                display: flex;
                align-items: center;
                color: $general_text_color;
                font-size: 25px;

                .arrow{
                    cursor: pointer;
                    i{
                        background-color: rgba(255, 255, 255, 0.2);
                        padding: 5px;
                        margin-right: 5px;
                    }

                }
            }

        }
    }
    .container{
        
        width: $container_big;
        margin: auto;

        .experts__images{
            display: flex;
            margin-top: 40px;
            height: 400px;
            overflow: hidden;

            .experts__images__box{

                width: calc( (100% / 3) - 20px );
                flex-shrink: 0;
                height: 100%;
                
                &:not(:last-child){
                    margin-right: 30px;
                }

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        
    }


}