#testimonial{
    padding-top: 100px;
    // background-color: $main_bg_color;
    .container{
        display: flex;
        flex-direction: row-reverse;
        width: $container_big;
        margin: auto;

        .title__sect{ 
            width: 38%;
            // overflow: hidden;

            p{
                display: flex;
                align-items: center;
                position: relative;
                left: -40%;
                color: $general_text_color;
                margin-right: 300px;
                

                &::after{
                    @include line_style_element;
                    position: absolute;
                    left: 740px;
                    

                }
            }

            h2{
                width: 100%;
            }


        }
    }
    .floating__container{
        display: flex;
        width: $floating_container;
        margin-left: auto;
        margin-top: 40px;

        .customer__box{
            position: relative;
            width: calc(100% / 3);

            .customer__box__text{
                padding: 60px 40px 100px 60px;

                h4{
                    font-size: 20px;
                    margin: 20px 0;
                }
            }
        }

    }
}

.customer__box{
    .customer__box__text{
        p{
            color:$par_color;
        }
    }
}
