#testimonial{
    padding-top: 100px;
    background-color: $main_bg_color;
    .container{
        display: flex;
        flex-direction: row-reverse;
        width: $container_big;
        margin: auto;

        .title__sect{ 
            width: 38%;
            overflow: hidden;

            p{
                display: flex;
                align-items: center;
                position: relative;
                left: 70%;
                color: white;
                

                &::after{
                    @include line_style_element;
                    margin-left: 15px;

                }
            }

            h2{
                width: 100%;
            }


        }
    }
    .floating__container{
        display: flex;
        background-color: $third_bg_color;
        width: $floating_container;
        margin-left: auto;
        margin-top: 40px;

        .customer__box{
            width: calc(100% / 3);

            .customer__box__text{
                padding: 40px 40px 80px 60px;

                h4{
                    font-size: 20px;
                    margin: 20px 0;
                }
            }
        }

    }
}