// mixin vari

@mixin line_style_element{
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background-color: $main_element_bg;
}

@mixin background_element{
    background-image: url("../images/Group_7543.svg");
    background-repeat: no-repeat;
}

// container

$container_big: 80%;
$container_small: 65%;
$floating_container: 90%;


// colori

$main_bg_color: #1f1e38;
$second_bg_color: #39ffbf;
$third_bg_color: #ffffff;

$main_element_bg: #39ffbf;
$second_element_bg_color: #f00e2e;
$third_element_bg_color: #1f1e38;


$main_title_color: #ffffff;
$cons_title_color: #1f1e38;



$par_color: #aaaaaa;

$blog_date_color: #f00e2e;