// mixin vari

@mixin line_style_element{
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background-color: $main_element_bg;
}

@mixin background_element{
    background-image: url("../images/Group_7543.svg");
    background-repeat: no-repeat;
}

@mixin overlay_color_for_img{
    content: "";
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay_bg_color;
}

// container

$container_big: 80%;
$container_small: 65%;
$floating_container: 90%;


// colori

$main_bg_color: #1f1e38;
$second_bg_color: #ffc318;
$third_bg_color: #ffffff;

$main_element_bg: #ffc318;
$second_element_bg_color: #f00e2e;
$third_element_bg_color: #1f1e38;


$main_title_color: #ffffff;
$cons_title_color: #1f1e38;

$par_color: #aaaaaa;
$general_text_color: #ffffff;

$blog_date_color: #f00e2e;

$overlay_bg_color: #f00e2e;