@import "partials/variables";
@import "partials/common";
@import "partials/header";
@import "partials/buttons";
@import "partials/consultants";
@import "partials/about";
@import "partials/project";
@import "partials/testimonial";
@import "partials/blog";
@import "partials/contact";
@import "partials/footer";






